body {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
.doubleClick-button {
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ffdd2d;
  font-size: 17px;
  line-height: 1.41;
  text-align: center;
  color: #333;
  position: relative;
  border: none;
  width: auto;
  height: 66px;
  cursor: pointer;
  padding: 5px 15px;
  margin: 12px;
}
.doubleClick-button:hover {
  background-color: #ad9100;
}
.click-counter {
  position: relative;
  display: block;
  counter-reset: li;
  list-style: none;
  font: 15px 'trebuchet MS';
  padding: 0;
  width: 30%;
  margin: 12px auto;
  text-align: center;
  align-self: center;
}
.click-counter a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.7s ease-out;
}
.click-counter a:hover {
  background: #eee;
  transform: scale(1.1);
}
.click-counter > li a:hover::before {
  transform: rotate(360deg);
}
.click-counter > li a::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.2em solid #eafaff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.5s ease-out;
}
